---
import Slider from "@/layouts/components/Slider.astro";
const { data, id } = Astro.props;
---

<section class="reviews section" id={id}>
  <div class="container">
    <div class="row text-center">
      <h2 class="h3">{data.title}</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <Slider list={data.list} />
      </div>
    </div>
  </div>
</section>
