---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

const global_settings = await getEntry("settings", "global");
const { site } = global_settings!.data;
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
} = site;
---

<a href="/" class="navbar-brand block">
  {
    src || logo ? (
      <Image
        width={Number(logo_width.replace("px", "")) * 2}
        height={Number(logo_height.replace("px", "")) * 2}
        src={src ? src : logo}
        alt={title}
        style={{
          height: logo_height.replace("px", "") + "px",
          width: logo_width.replace("px", "") + "px",
        }}
      />
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>
