---
import { humanize, markdownify, slugify } from "@/lib/utils/textConverter";
const { page_data } = Astro.props || {};
const { title, index_title, page_title, slug, image, content } =
  page_data || {};
---

<div
  class="relative h-96 flex items-center justify-center text-center bg-cover bg-center bg-norepeat"
  style={`background-image: url(${image})`}
>
  <div class="relative z-10">
    <p class="text-lg font-light mb-2">AÍSLA • PROTEGE • AHORRA</p>
    <h1
      class="text-4xl font-bold mb-5 mt-8"
      set:html={markdownify(
        page_data?.page_title ? page_data?.page_title : page_data?.title,
      )}
    />
    <p set:html={markdownify(content)} />
    
    {
      page_data.buttons && (
        <div class="mt-11 justify-center sm:flex">
          {page_data.buttons.map(
            (button: any) =>
              button?.enable && (
                <a
                  class={`btn m-3 block sm:inline-block ${
                    button?.outline ? "btn-outline-primary" : "btn-primary"
                  } `}
                  href={button?.link}
                >
                  {button?.label}
                </a>
              ),
          )}
        </div>
      )
    }
  </div>
  <div class="absolute inset-0 bg-white bg-opacity-50 z-0"></div>
</div>
