---
import { humanize } from "@/lib/utils/textConverter";
import * as Icon from "@phosphor-icons/react";

const { cta_data, id } = Astro.props || {};
const { title, buttons } = cta_data || {};
---

<section class="px-5 py-20 xl:py-[120px]" id={id}>
  <div class="">
    <div
      class="bg-gray-400 row justify-center px-[30px] pb-[75px] pt-16"
    >
      <div class="container lg:col-11">
        <div class="flex justify-around">
          <div class="lg:col-7">
            <h2 class="h3 text-center text-white">{title}</h2>
          </div>
            {
              buttons && (
                <div class="mt-11 justify-center sm:flex">
                  {buttons.map((button: any) => {
                    if (!button?.enable) return null;

                    const IconComponent = Icon[humanize(button.icon)]; // Obtiene el ícono con el nombre pasado en 'button.icon'

                    return (
                      <a
                        class={`btn m-3 ${button?.outline ? "btn-outline-primary" : "btn-primary"}`}
                        href={button?.link}
                      >
                        {/* Renderiza el ícono solo si existe */}
                        {IconComponent && <IconComponent size={18} />}
                        {button?.label}
                      </a>
                    );
                  })}
                </div>
              )
            }
          
        </div>
      </div>
    </div>
  </div>
</section>
