---
import Icon from "@/layouts/components/Icon.astro";
import { getEntry } from "astro:content";

const global_settings = await getEntry("settings", "global");
const { site } = global_settings!.data;
const { whatsapp } = site;
---

<div class="fixed bottom-10 right-10 flex items-center group z-50 float-button pulse-premium rounded-full">
    <a
      href={whatsapp}
      class="flex items-center bg-green-600 drop-shadow-md rounded-full p-4 transition-transform duration-300 ease-in-out transform group-hover:scale-105"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="flex items-center rounded-full transition-transform z-50">
        <Icon name="WhatsappLogo" size={24} color="#ffffff" />
      </div>
      <span class="text-white text-base rounded-full px-2 transform leading-tight">
        Escríbenos
      </span>
    </a>
</div>



