---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Image from "astro/components/Image.astro";
import { getEntryBySlug } from "astro:content";
import config from "@/config/config.json";

const { logo } = config.site;
const entry = await getEntryBySlug("pages", "404");
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  <section class="section h-screen flex items-center justify-center bg-gradient-to-r from-slate-50 to-neutral-50">
    <div class="container">
      <div class="text-center flex flex-col items-center">
        <!-- Imagen con animación -->
        <div class="mb-6 animate-bounce">
          <Image
            src="/images/404.png"
            class="mb-4 inline"
            alt="404"
            height={120}
            width={120}
          />
        </div>

        <!-- Título del error -->
        <h1 class="text-6xl font-bold mb-4" set:html={markdownify(entry.data.title)}></h1>

        <!-- Contenido de la página -->
        <div class="text-lg mb-6 max-w-lg">
          <Content />
        </div>

        <!-- Botón para volver al inicio -->
        <a href="/" class="btn btn-primary mt-6 px-8 py-4 text-lg font-semibold">
          Volver al Inicio
        </a>
      </div>
    </div>
  </section>
</Base>
